<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Mikroblog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<div class="main">
    <div class="menu">
        <div class="page_menu">
            <a href="/" class="menu_link">Wszystkie wpisy</a>
            {% if g_user %}
            <a href="/add" class="menu_link">Dodaj wpis</a>
            {% endif %}
            <a href="/worker" class="menu_link"><b>Worker</b></a>
        </div>
        <div class="user_menu">
            {% if g_user %}
            <label>Cześć, {{ g_user }}! </label>
            <a href="/logout">Wyloguj</a>
            {% else %}
            <a href="/login" class="menu_link">Zaloguj</a>
            {% endif %}
        </div>
    </div>
    <div style="padding-top: 70px">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>

