{% extends "base.html" %}

{% block content %}
<form class="login" action="" method="POST">
    {% csrf_token %}
    <table class="login_table">
        {{ form.as_table }}
        <tr>
            <td colspan="2"><input type="submit" value="Wyślij"/></td>
        </tr>
    </table>
</form>
{% endblock %}