{% extends "base.html" %}

{% block content %}
    <div class="messange">
        <br>
        <b>Przed sortowaniem:</b>
        <br>
        {{ list1 }}
        <br> <br>
        <b>Po sortowaniu:</b>
        <br>
        {{ list2 }}
    </div>
{% endblock %}