body {
    font: verdana, sans-serif;
    background: #f0e5ce;
    background-color: lightgrey;
    background-color: lightsteelblue;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.menu_link {
    margin-right: 20px;
}

.error {
    color: red;
}

.add_title {
    width: 400px;
    margin-left: 10px
}

.title_div {
    margin-bottom: 20px;
}

.add_text {
    margin-bottom: 10px
}

.login_table {
    width: 400px;
    margin-right: auto;
    margin-left: auto
}

.login_input {
    padding: 10px;
    text-align: right;
}

.send_button {
    width: 100px;
    height: 50px
}

.menu {
    height: 40px;
    font-size: 1.1em;
    background-color: #FFF;
    background-color: #eeeeee;
    border: 1px solid #000000;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    position: fixed;
    width: 905px;
}

.page_menu {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 10px;
    float: left;
}

.user_menu {
    text-align: right;
    margin-bottom: 30px;
    margin-top: 10px;
    float: right;
}

.content {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 800px;
    text-align: justify;
}

.header {
    float: left;
    margin-bottom: 10px;
}

.title {
    float: left;
    width: 420px;
    word-break: break-all;
}

.author {
    float: right;
    text-align: right;
    width: 460px;
    word-break: break-all;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 927px;
}

.post {
    float: left;
    width: 900px;
    background-color: #FFF;
    background-color: whitesmoke;
    border: 1px solid #000000;
    margin: 0 0 12px 0px;
    padding: 15px 12px 0 13px;
    border-radius: 5px
}

.messange {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    min-height: 170px;
    background-color: #FFF;
    background-color: whitesmoke;
    border: 1px solid #000000;
    padding: 15px 12px 0 13px;
    border-radius: 5px
}

.login {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
    background-color: #FFF;
    background-color: whitesmoke;
    border: 1px solid #000000;
    padding: 15px 12px 0 13px;
    border-radius: 5px
}

hr {
    float: left;
    border: 1px solid lightgray;
    width: 900px
}

a {
    color: darkblue;
    text-decoration: none
}

a:link {
    color: darkblue;
    text-decoration: none
}

a:visited {
    color: darkblue;
    text-decoration: none
}

a:hover, a:active, a:focus {
    color: grey;
    text-decoration: none
}

textarea {
    resize: vertical;
    width: 894px;
    height: 300px;
}

ul {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 1.2em;
}

li {
    margin-bottom: 10px;
}

.helptext {
    display:none
}

.errorlist {
    margin-bottom: 10px;
    list-style-type: none;
    padding:0;
}

.login tr{
    vertical-align:bottom;
}